/* .App {
  text-align: center;
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #08080e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
.App{
  background-image: 
  url("https://in.images.search.yahoo.com/images/view;_ylt=AwrwJUW.Wy9i.V4ACxQO9olQ;_ylu=c2VjA3NyBHNsawNpbWcEb2lkAzUyMWEwODQzM2YxY2QyMmJiMjA5ZmQ0Y2ZmNjE2NDE5BGdwb3MDMjgEaXQDYmluZw--?back=https%3A%2F%2Fin.images.search.yahoo.com%2Fyhs%2Fsearch%3Fp%3Dbest%2Bhome%2Bappliance%2Bloan%2Bbackground%2Bimages%2Bfor%2Bwebsite%26ei%3DUTF-8%26type%3DYHS_MOV_59666_%252459666_001570%2524%26fr%3Dyhs-Lkry-nt%26fr2%3Dsb-top-in.images.search%26hsimp%3Dyhs-nt%26hspart%3DLkry%26param1%3DmT_AcHw0iQ891VB8kG1wir1jNGVW9fNhu6N7iLtPlPOZpTODT5RKVbz5K7Z6bV_yAFxMOWJoNsZmxs9D4Ouo0fcfV0Tvv0qQWPtwPLPfpMiaT2PIMyGwcPeCTDmGAYeSrT0SwmgX7HktHvzB0QADLJi2r_k4iJxa1WS-WLQzd5LIKlv_6biGOALXxpphznF1AFr6zE7mMRniiyAWjf2rYapUBueH0Ud549HHIe3cEjtrz0Jc0ZRErLhCuili0tGcwbGbTlHocY-Vt3dDjJvLVXi6lOWSIyZx7u5_YyG4njrKT1bGmVRPYK9C7yTWDwjm3NB4iMYPgJ_11BZW2cs1E4y1HwnP-i9yXvrpsgDnSnBwy-9i21Vxxn71wJKrD7eqZiafNQg9swnqF_rLJBYF2AYkb3YxHW7vVxPwWMm_k8azq_VQ80Xqg91MfQ%252C%252C%26tab%3Dorganic%26ri%3D28&w=1500&h=843&imgurl=s3.amazonaws.com%2Fmentoring.redesign%2Fs3fs-public%2FBank-Loan-Request-for-Small-Business_0.png&rurl=https%3A%2F%2Fwww.score.org%2Fresource%2Fbank-loan-request-small-business&size=1592.2KB&p=best+home+appliance+loan+background+images+for+website&oid=521a08433f1cd22bb209fd4cff616419&fr2=sb-top-in.images.search&fr=yhs-Lkry-nt&tt=Bank+Loan+Request+for+Small+Business&b=0&ni=120&no=28&ts=&tab=organic&sigr=ZtRXg1lIPYXD&sigb=EVgMUyRUAiaI&sigi=Z8olnCe3sA2k&sigt=3RgeyKregTFd&.crumb=NG7Ln4UsRNl&fr=yhs-Lkry-nt&fr2=sb-top-in.images.search&hsimp=yhs-nt&hspart=Lkry&type=YHS_MOV_59666_%2459666_001570%24&param1=mT_AcHw0iQ891VB8kG1wir1jNGVW9fNhu6N7iLtPlPOZpTODT5RKVbz5K7Z6bV_yAFxMOWJoNsZmxs9D4Ouo0fcfV0Tvv0qQWPtwPLPfpMiaT2PIMyGwcPeCTDmGAYeSrT0SwmgX7HktHvzB0QADLJi2r_k4iJxa1WS-WLQzd5LIKlv_6biGOALXxpphznF1AFr6zE7mMRniiyAWjf2rYapUBueH0Ud549HHIe3cEjtrz0Jc0ZRErLhCuili0tGcwbGbTlHocY-Vt3dDjJvLVXi6lOWSIyZx7u5_YyG4njrKT1bGmVRPYK9C7yTWDwjm3NB4iMYPgJ_11BZW2cs1E4y1HwnP-i9yXvrpsgDnSnBwy-9i21Vxxn71wJKrD7eqZiafNQg9swnqF_rLJBYF2AYkb3YxHW7vVxPwWMm_k8azq_VQ80Xqg91MfQ%2C%2C");
  background-size:auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-position:center;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
